In [48]:
import pandas as pd

In [49]:
bang_giang_vien = pd.read_csv("faculty_info_clean.csv")
bang_khao_sat = pd.read_csv("course_survey_clean.csv")
bang_binh_luan = pd.read_csv("student_comments_clean.csv")

In [50]:
bang_giang_vien.head()
bang_khao_sat.head()
bang_binh_luan.head()

  survey_id            comment_text sentiment_label
0   SRV1038    Nội dung mon hoc kho        Tích cực
1   SRV1044     Thay co cham bai ky        Tích cực
2   SRV1079  Giang vien day de hieu        Tích cực
3   SRV1014     Bài giảng hơi nhanh        Tích cực
4   SRV1099    Nội dung mon hoc kho        Tích cực

In [51]:
so_giang_vien_theo_khoa = (
    bang_giang_vien
    .groupby("department")["faculty_id"]
    .nunique()
    .reset_index(name="so_luong_giang_vien")
)

so_giang_vien_theo_khoa

     department  so_luong_giang_vien
0   Bộ Môn Toán                    7
1     Khoa CNTT                    9
2  Khoa Kinh Tế                    9

In [52]:
so_phieu_khao_sat_theo_giang_vien = (
    bang_khao_sat
    .groupby("faculty_id")["survey_id"]
    .count()
    .reset_index(name="so_phieu_khao_sat")
)

so_phieu_khao_sat_theo_giang_vien

   faculty_id  so_phieu_khao_sat
0       GV100                  3
1       GV101                  5
2       GV102                  3
3       GV103                  1
4       GV104                  6
5       GV105                  6
6       GV106                  2
7       GV107                  7
8       GV108                  5
9       GV110                  6
10      GV111                 10
11      GV112                  6
12      GV113                  3
13      GV114                  7
14      GV115                  2
15      GV116                  1
16      GV117                  8
17      GV118                  8
18      GV119                  4
19      GV120                  5
20      GV121                  3
21      GV122                  6
22      GV123                  9
23      GV124                  4

In [53]:
khao_sat_kem_khoa = bang_khao_sat.merge(
    bang_giang_vien[["faculty_id", "department"]],
    on="faculty_id",
    how="left"
)

In [54]:
diem_trung_binh_theo_khoa = (
    khao_sat_kem_khoa
    .groupby("department")["rating_score"]
    .mean()
    .reset_index(name="diem_trung_binh")
)

diem_trung_binh_theo_khoa

     department  diem_trung_binh
0   Bộ Môn Toán         4.131944
1     Khoa CNTT         3.989130
2  Khoa Kinh Tế         4.085526

In [55]:
diem_trung_binh_theo_trinh_do_sv = (
    bang_khao_sat
    .groupby("student_level")["rating_score"]
    .mean()
    .reset_index(name="diem_trung_binh")
)

diem_trung_binh_theo_trinh_do_sv

  student_level  diem_trung_binh
0    Liên Thông         4.000000
1    Liên thông         3.727273
2         Năm 1         4.109375
3         Năm 2         4.111702

In [56]:
so_binh_luan_theo_cam_xuc = (
    bang_binh_luan
    .groupby("sentiment_label")["comment_text"]
    .count()
    .reset_index(name="so_luong_binh_luan")
)

so_binh_luan_theo_cam_xuc

  sentiment_label  so_luong_binh_luan
0  Không xác định                  21
1        Tiêu cực                  19
2       Trung lập                   6
3        Tích cực                  32