đọc file csv ở task 04

bảng pivot thể hiện ĐIỂM ĐÁNH GIÁ TRUNG BÌNH THEO KHOA × MỨC ĐỘ SINH VIÊN

In [10]:
import pandas as pd
df = pd.read_csv("../data_clean/faculty_survey_comments_merged.csv")
df.head()

,survey_id,faculty_id,course_code,student_level,rating_score,survey_term,full_name,department,comment_text,sentiment_label
0,SRV1000,GV106,DA200,Năm 2,3.5,HK2-2024,Nguyen Van A,Bộ Môn Toán,Giang vien day de hieu,Tiêu cực
1,SRV1000,GV106,DA200,Năm 2,3.5,HK2-2024,Nguyen Van A,Bộ Môn Toán,Bài giảng hơi nhanh,Tích cực
2,SRV1001,GV120,CT102,Liên Thông,3.5,HK1- 2024,Tran Thi B,Khoa CNTT,NaN,NaN
3,SRV1002,GV111,CT101,Liên Thông,3.5,HK1- 2024,Le Van C,Khoa CNTT,NaN,NaN
4,SRV1003,GV123,CT101,Năm 1,3.5,HK2-2024,Le Van C,Bộ Môn Toán,NaN,NaN

In [11]:

pivot_rating = pd.pivot_table(
    df,
    values="rating_score",
    index="department",
    columns="student_level",
    aggfunc="mean"
)

pivot_rating = pivot_rating.round(2)
pivot_rating

student_level  Liên Thông  Năm 1  Năm 2
department
Bộ Môn Toán          3.75   4.30   4.10
Khoa CNTT            3.88   3.93   4.12
Khoa Kinh Tế         4.11   4.25   3.95

COMMENT TÍCH CỰC

In [12]:
positive_df = df[df["sentiment_label"] == "Tích cực"]

pivot_positive = pd.pivot_table(
    positive_df,
    values="survey_id",
    index="department",
    columns="student_level",
    aggfunc="count"
)

pivot_positive

student_level  Liên Thông  Năm 1  Năm 2
department
Bộ Môn Toán             3      3      3
Khoa CNTT               4      2      7
Khoa Kinh Tế            2      5      7

STACK / UNSTACK

In [13]:
stacked_rating = pivot_rating.stack()
stacked_rating

unstacked_rating = stacked_rating.unstack()
unstacked_rating

student_level  Liên Thông  Năm 1  Năm 2
department
Bộ Môn Toán          3.75   4.30   4.10
Khoa CNTT            3.88   3.93   4.12
Khoa Kinh Tế         4.11   4.25   3.95

### Nhận xét
- Điểm đánh giá trung bình của sinh viên năm trên nhìn chung cao hơn sinh viên năm đầu.
- Một số khoa có điểm thấp và ít bình luận tích cực ở nhóm sinh viên mới.
- Pivot table giúp so sánh trực quan giữa các khoa và nhóm sinh viên.